@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DashboardLayout";
}

    <h1> Dashboard Project Manager</h1>
<div class="p-2 text-center">
    <span>@ViewData["jwtCookie"]</span>
</div>

@section script_user{

}