@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DashboardLayout";
}
<h1> Module List: @ViewData["name"]</h1>
<h2> Project Id: @ViewData["projectId"]</h2>

<div class="p-3">
    <table id="tbl_project_report" class="display">
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Content</th>
                <th>ReportDate</th>
                <th>TaskName</th>
            </tr>
        </thead>
    </table>
</div>

@section script_user{
    <script>
    $(document).ready(function(){
    })

    let table = $('#tbl_project_report').DataTable({
            ajax: {
                url: `GetReports`,
                dataSrc: ""
            },
            columns: [
                //No
                {
                    "render": (data, type, row, meta) => {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                //Title
                { "data": "title" },
                //Content
                { "data": "content" },
                //ReportDate
                {
                    "data": "reportDate",
                    "render": (reportDate) => {
                        let date = moment(reportDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //taskName
                { "data": "taskName" }
            ]
    })
    </script>
}