@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DashboardLayout";
}

<h1> Task List: @ViewData["name"]</h1>
<div>
    <button type="button" class="btn btn-dark" id="btnAddTask" style="margin: auto" data-toggle="modal" data-target="#modalAddTask" data-placement="top" title="Add Project Task" onclick=""><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>

<div class="p-3">
    <table id="tbl_project_task" class="display">
        <thead>
            <tr>
                <th>No</th>
                <th>Task Name</th>
                <th>Start Date</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@*modal add task*@
<div class="modal" id="modalAddTask">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title">Add Project Task</h2>
            </div>
            <!-- Modal body -->
            <form class="needs-validation" id="formData" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="name" class="col-form-label"> Task Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
                        </div>
                        <div class="invalid-feedback">
                            Please input your task name.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="taskdescription" class="col-form-label"> Task Description</label>
                            <textarea class="form-control" rows="3" required></textarea>
                        </div>
                        <div class="invalid-feedback">
                            Please input your task description.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="startdate" class="col-form-label">Start Date</label>
                            <input type="date" class="form-control" id="startdate" name="startdate" placeholder="Enter StartDate" required>
                        </div>
                        <div class="invalid-feedback">
                            Please input your project task startdate.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="deadline" class="col-form-label">Deadline</label>
                            <input type="date" class="form-control" id="deadline" name="deadline" placeholder="Enter Deadline" required>
                        </div>
                        <div class="invalid-feedback">
                            Please input your project task deadline.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="status" class="col-form-label">Status</label>
                            <select id="status" name="status" class="form-control" required>
                                <option selected>OnProgress</option>
                                <option selected>Finished</option>
                                <option selected>Late</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Please input your project task status.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="priority" class="col-form-label">Priority</label>
                            <select id="priority" name="priority" class="form-control" required>
                                <option selected>Priority 1</option>
                                <option selected>Priority 2</option>
                                <option selected>Priority 3</option>
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Please input your project task priority.
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section script_user{
    <script>

        $(document).ready(function () {

            $('#AddProjectForm').submit(function (e) {
                e.preventDefault()
                AddProject()
            })

        })

        //table
        let table = $('#tbl_project_task').DataTable({
            ajax: {
                url: "GetTasks",
                dataSrc: ""
            },
            columns: [
                //No
                {
                    "render": (data, type, row, meta) => {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                //Project Name
                { "data": "projectName" },
                //Start Date
                {
                    "data": "startDate",
                    "render": (startDate) => {
                        let date = moment(startDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Deadline
                {
                    "data": "endDate",
                    "render": (endDate) => {
                        let date = moment(endDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Status
                { "data": "status" },
                //Priority
                { "data" : "priority"},
                //Action
                {
                    'data': 'projectID',
                    "render": function (id) {
                        return `<a class="popup btn btn-warning" data-toggle="tooltip" data-placement="top" title="Open Project" id="btnEdit" onclick="Open(${id})"><i class= "fa fa-folder-open-o"></i></a> | <button class="popup btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete Project" id="btnDelete" onclick="Delete(${id})"><i class="fa fa-trash"></i></a>`;
                    }
                }
            ]
        })

        const Open = (id) => {
            Swal.fire({
                text: 'Nothing Happened!',
                icon: 'success',
                timer: 10000,
                timerProgressBar: true
            });
        }

        const Delete = (id) => {
            Swal.fire({
                text: `Project ${id} Has been deleted (jk)`,
                icon: 'success',
                timer: 10000,
                timerProgressBar: true
            });
        }

        const AddMember = () => { }

        const AddProject = () => {
            let project = {
                ProjectName: $('#project_name').val(),
                Description: $('#project_description').val(),
                StartDate: $('#project_startdate').val(),
                EndDate: $('#project_deadline').val(),
                Status: "In-Progress"
            }
            console.log(project)
            $.ajax({
                type: "POST",
                url: "AddProject",
                data: project,
                success: (data) => {
                    $('#modalAdd').modal('hide')
                    if (data == 200) {
                        Swal.fire({
                            text: 'New Project created!',
                            icon: 'success',
                            timer: 10000,
                            timerProgressBar: true
                        });
                        table.ajax.reload()
                    } else {
                        Swal.fire({
                            text: 'Error creating project!',
                            icon: 'error',
                            timer: 10000,
                            timerProgressBar: true
                        });
                    }
                },
                error: (data) => {
                    $('#modalAdd').modal('hide')
                    Swal.fire({
                        text: 'Error creating project!',
                        icon: 'error',
                        timer: 10000,
                        timerProgressBar: true
                    });
                }
            })
        }

    </script>
}