@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DashboardLayout";
}

<h1> Project List: @ViewData["name"]</h1>
<div>
    <button type="button" class="btn btn-success" id="btnAdd" style="margin: auto" data-toggle="modal" data-target="#modalAddReport" data-placement="top" title="Add Project Report" onclick=""><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>

<div class="p-3">
    <table id="tbl_project" class="display">
        <thead>
            <tr>
                <th>No</th>
                <th>Project Name</th>
                <th>Start Date</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@*modal addreport*@
<div class="modal" id="modalAddReport">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title">Add Project Report</h2>
            </div>
            <!-- Modal body -->
            <form class="needs-validation" id="AddProjectReportForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="title" class="col-form-label"> Title</label>
                            <input type="text" class="form-control" id="project_report_title" name="project_report_title" placeholder="Enter Title" required>
                        </div>
                        <div class="invalid-feedback">
                            Please input your project report title.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="content" class="col-form-label"> Project Report Content</label>
                            <textarea class="form-control" rows="3" placeholder="Content" id="project_report_content" name="project_report_content" required></textarea>
                        </div>
                        <div class="invalid-feedback">
                            Please input your project report content.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="reportdate" class="col-form-label">Report Date</label>
                            <input type="date" class="form-control" id="project_report_date" name="project_report_date" placeholder="Enter Project Report Date" required>
                        </div>
                        <div class="invalid-feedback">
                            Please input your project report date.
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section script_user{
    <script>

        $(document).ready(function () {

        })

        //table
        let table = $('#tbl_project').DataTable({
            ajax: {
                url: "GetProjects",
                dataSrc: ""
            },
            columns: [
                //No
                {
                    "render": (data, type, row, meta) => {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                //Project Name
                { "data": "projectName" },
                //Start Date
                {
                    "data": "startDate",
                    "render": (startDate) => {
                        let date = moment(startDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Deadline
                {
                    "data": "endDate",
                    "render": (endDate) => {
                        let date = moment(endDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Status
                { "data": "status" },
                //Action
                {
                    'data': 'projectID',
                    "render": function (id) {
                        return `<a class="popup btn btn-warning" data-toggle="tooltip" data-placement="top" title="Open Project" id="btnEdit" onclick="Task(${id})"><i class= "fa fa-folder-open-o"></i></a> | <button class="popup btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete Project" id="btnDelete" onclick="Delete(${id})"><i class="fa fa-trash"></i></a>`;
                    }
                }
            ]
        })

        const Open = (id) => {
            Swal.fire({
                text: 'Nothing Happened!',
                icon: 'success',
                timer: 10000,
                timerProgressBar: true
            });
        }

        const Delete = (id) => {
            Swal.fire({
                text: `Project ${id} Has been deleted (jk)`,
                icon: 'success',
                timer: 10000,
                timerProgressBar: true
            });
        }

        const Task = (id) => {
            //alert(projectId)
            $.ajax({
                type: "GET",
                url: `GoTask/${id}`,
                success: (data) => {
                    window.location.href = data
                },
                error: (data) => {
                    alert(data)
                }
            })
        }

    </script>
}