@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DashboardLayout";
}

<h1> Project List: @ViewData["name"]</h1>


<div class="p-3">
    <table id="tbl_project" class="display">
        <thead>
            <tr>
                <th>No</th>
                <th>Project Name</th>
                <th>Start Date</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@*modal addreport*@


@section script_user{
    <script>

        $(document).ready(function () {

        })

        //table
        let table = $('#tbl_project').DataTable({
            ajax: {
                url: "GetProjects",
                dataSrc: ""
            },
            columns: [
                //No
                {
                    "render": (data, type, row, meta) => {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                //Project Name
                { "data": "projectName" },
                //Start Date
                {
                    "data": "startDate",
                    "render": (startDate) => {
                        let date = moment(startDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Deadline
                {
                    "data": "endDate",
                    "render": (endDate) => {
                        let date = moment(endDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Status
                { "data": "status" },
                //Action
                {
                    'data': 'projectID',
                    "render": function (id) {
                        return `<a class="popup btn btn-primary" data-toggle="tooltip" data-placement="top" title="Open Project" id="btnEdit" onclick="Task(${id})"><i class= "fa fa-folder-open-o"></i></a>`;
                    }
                }
            ]
        })

        const Task = (id) => {
            //alert(projectId)
            $.ajax({
                type: "GET",
                url: `GoTask/${id}`,
                success: (data) => {
                    window.location.href = data
                },
                error: (data) => {
                    alert(data)
                }
            })
        }


    </script>
}