@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DashboardLayout";
}
<h1> Task List: @ViewData["name"]</h1>
<h1> Project Id : @ViewData["projectId"]</h1>
<div class="p-3">
<table id="tbl_project_task" class="display">
    <thead>
        <tr>
            <th>No</th>
            <th>Task Name</th>
            <th>Start Date</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
</div>

@section script_user{ 
    <script>
        $(document).ready(function () {

        })

        //table
        let table = $('#tbl_project_task').DataTable({
            ajax: {
                url: "GetTasks",
                dataSrc: ""
            },
            columns: [
                //No
                {
                    "render": (data, type, row, meta) => {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                //Project Name
                { "data": "taskName" },
                //Start Date
                {
                    "data": "startDate",
                    "render": (startDate) => {
                        let date = moment(startDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Deadline
                {
                    "data": "endDate",
                    "render": (endDate) => {
                        let date = moment(endDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Status
                { "data": "status" },
                //Priority
                { "data": "priority" },
                //Action
                {
                    'data': 'taskID',
                    "render": function (id) {
                        return `<a class="popup btn btn-success" data-toggle="tooltip" data-placement="top" title="Mark Task Done" id="btnEdit" onclick="Done(${id})"><i class= "fa fa-check"></i></a>`;
                    }
                }
            ]
        })

        const Done = (id) => {
            Swal.fire({
                text: 'Nothing Happened!',
                icon: 'success',
                timer: 10000,
                timerProgressBar: true
            });
        }

        const Delete = (id) => {
            Swal.fire({
                text: `Project ${id} Has been deleted (jk)`,
                icon: 'success',
                timer: 10000,
                timerProgressBar: true
            });
        }

    </script>

}
