@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "DashboardLayout";
}
<div>
    <h1> Task List</h1>
</div>

<div class="p-3">
<table id="tbl_project_task" class="display">
    <thead>
        <tr>
            <th>No</th>
            <th>Task Name</th>
            <th>Start Date</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
</div>

<div class="modal" id="modalAddReport">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title">Add Project Report</h2>
            </div>
            <!-- Modal body -->
            <form class="needs-validation" id="AddProjectReportForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="title" class="col-form-label"> Title</label>
                            <input type="text" class="form-control" id="report_title" name="report_title" placeholder="Enter Title" required>
                        </div>
                        <div class="invalid-feedback">
                            Please input your project report title.
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="content" class="col-form-label"> Content</label>
                            <textarea class="form-control" rows="3" placeholder="Content" id="report_content" name="report_content" required></textarea>
                        </div>
                        <div class="invalid-feedback">
                            Please input your project report content.
                        </div>
                    </div>
                    <input type="hidden" name="taskId" id="taskId" />
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section script_user{ 
    <script>
        $(document).ready(function () {
            Tasks()

            $('#optiontask').select2({
                width: 'resolve',
                theme: 'classic'
            })

            $('#AddProjectReportForm').submit(function (e) {
                e.preventDefault()
                AddReport()
            })
        })

        //table
        let table = $('#tbl_project_task').DataTable({
            ajax: {
                url: "GetTasks",
                dataSrc: ""
            },
            columns: [
                //No
                {
                    "render": (data, type, row, meta) => {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                //Project Name
                { "data": "taskName" },
                //Start Date
                {
                    "data": "startDate",
                    "render": (startDate) => {
                        let date = moment(startDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Deadline
                {
                    "data": "endDate",
                    "render": (endDate) => {
                        let date = moment(endDate)
                        return date.format('DD MMMM YYYY');
                    }
                },
                //Status
                { "data": "status" },
                //Priority
                {
                    "data": "priority"
                },
                //Action
                {
                    'data': 'taskID',
                    "render": function (id) {
                        return `<button class="popup btn btn-success" data-toggle="tooltip" data-placement="top" title="Mark Task Done" id="btnEdit" onclick="Done(${id})"><i class= "fa fa-check"></i></button> | <button type="button" class="btn btn-primary" id="btnAdd" style="margin: auto" data-placement="top" title="Add Project Report" onclick="modalReport(${id})"><i class="fa fa-sticky-note" aria-hidden="true"></i></button>`;
                    }
                }
            ],
            "orderFixed": {
                "pre": [5, 'asc']
            }
        })

        const modalReport = (id) => {
            $('#taskId').val(id)
            $('#modalAddReport').modal('show')
        }

        const Done = (id) => {
            $.ajax({
                type: "POST",
                url: `FinishTask/${id}`,
                success: (data) => {
                    Swal.fire({
                        text: `Task has been completed`,
                        icon: 'success',
                        timer: 10000,
                        timerProgressBar: true
                    });
                    table.ajax.reload()
                },
                error: (data) => {
                    Swal.fire({
                        text: `Error completing task`,
                        icon: 'error',
                        timer: 10000,
                        timerProgressBar: true
                    });
                    table.ajax.reload()
                }
            })
        }

        const Delete = (id) => {
            Swal.fire({
                text: `Project ${id} Has been deleted (jk)`,
                icon: 'success',
                timer: 10000,
                timerProgressBar: true
            });
        }

        const Tasks = () => {
            $.ajax({
                type: "GET",
                url: "GetTasks",
                success: (data) => {

                    console.log(data)
                    $('#optiontask').empty()
                    for (let i = 0; i < data.length; i++) {
                        let id = data[i].taskID
                        let name = data[i].taskName

                        $("#optiontask").append("<option value='" + id + "'>" + name + "</option>")
                    }
                }
            })
        }

        const AddReport = () => {
            let report = {
                Title: $('#report_title').val(),
                Content: $('#report_content').val(),
                ReportDate: new Date().toISOString(),
                TaskID: $('#taskId').val(),
            }
            console.log(report)
            $.ajax({
                type: "POST",
                url: "AddReport",
                data: report,
                success: (data) => {
                    $('#modalAddReport').modal('hide')
                    if (data == 200) {
                        Swal.fire({
                            text: 'New Report created!',
                            icon: 'success',
                            timer: 10000,
                            timerProgressBar: true
                        });
                        table.ajax.reload()
                    } else {
                        Swal.fire({
                            text: 'Error creating report!',
                            icon: 'error',
                            timer: 10000,
                            timerProgressBar: true
                        });
                    }
                },
                error: (data) => {
                    $('#modalAddReport').modal('hide')
                    Swal.fire({
                        text: 'Error creating report!',
                        icon: 'error',
                        timer: 10000,
                        timerProgressBar: true
                    });
                }
            })
        }

    </script>

}
